<li id="comment-<%=comment.id%>">


    <p>
        <% if(locals.user && (locals.user.id==comment.user.id||locals.user.id==post.user.id)) { %>

            <small>
                <a class="comment-delete-button" href="/comments/destroy/<%= comment.id %>">
                    X</a>
            </small>



            <%}%>

                <%= comment.content %>

                    <br>
                    <small>
                        <%=comment.user.name%>
                    </small>

                    <% if(locals.user) {%>
                        <a class="toggle-like-btn" data-like="<%=comment.likes.length%>"
                            href="/likes/toggle/?id=<%=comment._id%>&type=Comment">

                            <%=comment.likes.length%> Likes
                        </a>

                        <%}else{%>
                            <%=comment.likes.length%> Likes
                                <%}%>
    </p>



</li>