<li id="post-<%=post._id%>">
    <p>
        <% if(locals.user && locals.user.id==post.user.id){ %>
            <small>
                <a class="post-delete-button" href="/posts/destroy/<%=post.id%>">
                    X
                </a>
            </small>
            <% } %>
                <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                    <div class="like-section">
                        <a href="/likes/toggle?id=<%=post._id%>&type=Post" id="likeLink">

                            <% if(deleted) {%>
                                <div class="like-counter">
                                    0
                                </div>
                                <div class="like-image">
                                    like
                                </div>
                                <%}else{%>

                                    <div class="like-counter">
                                        0
                                    </div>
                                    <div class="like-image">
                                        like
                                    </div>


                                    <%}%>

                        </a>

                    </div>
    </p>
    <div class="post-comment">
        <% if (locals.user){%>
            <form action="/comments/create" method="POST" id="new-comment-form">
                <input type="text" name="content" placeholder="Type comment here" required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>
            <%}%>
                <div class="post-comments-list">
                    <ol>

                        <% for (comment of post.comments){%>

                            <%- include('_comment') -%>


                                <%} %>
                    </ol>
                </div>

    </div>


</li>